.Home{

    .collection{

        margin-top: 40px;

        .info{

            text-align: center;
            margin-top: 20px;
            .sub-heading{

                margin-top: 10px;
            }
        }
        .content{

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            row-gap: 40px;
            column-gap: 20px;
            margin-top: 20px;

        }
    }
}
