.Categories{

    margin-top: 20px;
    .header{

        display: flex;
        justify-content:space-between;


        .info{

            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 8px;
          
        }

        .sort-by{
         flex: 1;
         display: flex;
        justify-content: end;
        
        .sort-by-container{
                display: flex;
                flex-direction: column;
                gap: 8px;

                .sort-by-select{

                    padding: 8px 16px;
                    border: 1px solid rgba($color: #000000, $alpha: 0.1);
                    outline: none;
                    cursor: pointer;
                }
         
        }
         
        }

        
    }

    .content{
        display: flex;
        gap: 20px;
        margin-top: 20px;
      
       

            .filter-box{
                min-width: 160px;
                flex: 1;
                border: 1px solid rgba($color: #000000, $alpha: 0.1);
                padding: 12px;
                height: fit-content;
              user-select: none;

                h3{
                    margin-block: 8px;
                 
                }

                .filter-radio{

                    margin-block: 4px;
                   
                    input{
                       
                        margin-right: 4px;
                        accent-color: var(--accent-color);
                    }

                    label{
                        cursor: pointer;
                        color: var(--secondary-text-color);
                        user-select: none;
                    }
                }
            }
           
     
        .products-box{

            flex: 4;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px 10px;
        }
    }
}

@media screen and (max-width:480px) {
.Categories{

    .header{
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
    .content{
        flex-direction: column;
        gap: 20px;
    }
}
    
}
