.Product-detail{
    margin-top: 40px;
    .container{

        .product-layout{
            display: flex;
            
            .product-img{

                max-width: 600px;
                min-width: 400px;
                height: 600px;
                // border: 2px solid red;

                img{
                    width: 100%;
                    transform: scale(0.9);
                }
            }

            .product-info{
                display: flex;
                flex-direction: column;
                gap: 20px;
               
                .cart-options{
             
                   .quantity-selector{

                    border: 1px solid var(--primary-text-color);
                    width: fit-content;
                 
                    .btn{
                        display: inline-block;
                        padding: 8px 16px;
                        background-color: #eee;
                        color: var(--primary-text-color);
                        font-size: 1.2rem;
                        user-select: none;
                        cursor: pointer;

                        &:hover{

                            background-color: #ddd;
                        }
                    
                    &:active{
                        background-color: #eee;
                    }

                   
                }
                .quantity{
                    display: inline-block;
                    width: 60px;
                    text-align: center;
                    font-weight: 700;
                   
                    
                }

                }

                }

                .add-to-cart{

                    margin-top: 30px;
                }
            }

            .return-policy{
                border-top: 1px dashed #ccc;
                color: var(--secondary-text-color);
                font-size: 0.8rem;
                margin-top: 20px;
                padding-top: 10px;
            
                ul{
                    list-style: circle;

                    li{
                        margin-top: 8px;
                    }
                }
            }


        }
    }
}